repoURL: git@github.com:301choso/numble-kubernetes.git

apps:
  - name: argocd
    namespace: argocd
  - name: nginx
    namespace: default
  - name: eck-operator
    namespace: elastic
    ignoreDifferences:
      - group: admissionregistration.k8s.io
        kind: ValidatingWebhookConfiguration
        jqPathExpressions:
          - .webhooks[]?.clientConfig.caBundle
  - name: eck-elasticsearch
    namespace: elastic
  - name: eck-kibana
    namespace: elastic
  - name: eck-beats
    namespace: elastic
  - name: kube-prometheus-stack
    namespace: prometheus  
